{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest",
    "eslint-plugin-jest"
  ],
  "rules": {
    "no-undef": [ 1 ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "jest/globals": true
  }
}